In [24]:
import pyarrow.dataset as ds

# Read the parquet file
path = "/git/trak_manual/outputs/local_commonpool_s_s13m_b4k_0/commonpool"  # adjust path as needed
dataset = ds.dataset(path, format="parquet")
table = dataset.to_table()
# Basic info
print("Table schema:")
print(table.schema)
print("\nNumber of rows:", table.num_rows)
print("\nMetadata:", table.schema.metadata)

# Convert to pandas for easy viewing
# Warning: only do this for a small subset if the table is large
df = table.to_pandas()
print("\nFirst few rows:")
print(df.head())

# Check data types
print("\nData types:")
print(df.dtypes)

# Basic statistics of loss_grads
print("\nLoss grads statistics:")
print(df["loss_grads"].describe())

# Check a single grads vector
print("\nShape of first grads vector:")
print(len(df["grads"].iloc[0]))

Table schema:
uid: string
grads: fixed_size_list<element: halffloat>[2048]
  child 0, element: halffloat
loss_grads: float
-- schema metadata --
grads_shape: '2048'

Number of rows: 1459200

Metadata: {b'grads_shape': b'2048'}

First few rows:
                                uid  \
0  99e71895357f06965a6c5b00d506e5aa
1  189c6d448ef1ffaa14770e6de6c6d576
2  d142ae70686e14ccc379c01a571501b5
3  f15adddf4fd5a5919641ce4861306ad9
4  f23cba9b57469eeed1321e388f140c71

                                               grads  loss_grads
0  [-0.000484, 0.0004277, 0.000124, 0.0005913, 0....    0.513986
1  [0.000713, -0.000702, -0.0005636, 0.0001287, 0...    0.152993
2  [0.0002594, -0.0001976, 0.0004687, -0.0001462,...    0.363049
3  [0.0006056, -0.0005636, 2.42e-05, 0.000563, -0...    0.385988
4  [-0.0004666, 2.54e-05, -0.0008726, 0.000845, 0...    0.982749

Data types:
uid            object
grads          object
loss_grads    float32
dtype: object

Loss grads statistics:
count    1.459200e+06
mean     7.343910e-01
std      3.074962e-01
min      1.305342e-05
25%      5.813396e-01
50%      8.869130e-01
75%      9.655898e-01
max      9.999922e-01
Name: loss_grads, dtype: float64

Shape of first grads vector:
2048

In [25]:
df

,uid,grads,loss_grads
0,99e71895357f06965a6c5b00d506e5aa,"[-0.000484, 0.0004277, 0.000124, 0.0005913, 0....",0.513986
1,189c6d448ef1ffaa14770e6de6c6d576,"[0.000713, -0.000702, -0.0005636, 0.0001287, 0...",0.152993
2,d142ae70686e14ccc379c01a571501b5,"[0.0002594, -0.0001976, 0.0004687, -0.0001462,...",0.363049
3,f15adddf4fd5a5919641ce4861306ad9,"[0.0006056, -0.0005636, 2.42e-05, 0.000563, -0...",0.385988
4,f23cba9b57469eeed1321e388f140c71,"[-0.0004666, 2.54e-05, -0.0008726, 0.000845, 0...",0.982749
...,...,...,...
1459195,e22662baf390124e61e9600237175376,"[-0.000423, -1.61e-05, -3e-05, 0.0006175, -0.0...",0.931875
1459196,5aa87730920f7cb880b2aaf6dc9d1d5a,"[-0.0001106, 0.0001575, 0.00093, 0.001188, -0....",0.893757
1459197,83feb25fda4071a8c5b3aa174c5e1cf3,"[0.0002081, -0.0002859, -0.0007095, 0.0002061,...",0.817314
1459198,20cf9a403d9f304ead41ab49f73756d0,"[0.003035, 0.001095, -0.00392, -0.0015, -0.001...",0.055900
1459199,5e37e82fe44f81c721215f736228befe,"[0.0009117, 0.0005064, -0.001517, -0.0001014, ...",0.701668