In [4]:
import pyarrow.dataset as ds

# Read the parquet file
path = "/raid/pdpl/trak/grads/local_commonpool_s_s13m_b4k_0/pcam"  # adjust path as needed
dataset = ds.dataset(path, format="parquet")
table = dataset.to_table()
# Basic info
print("Table schema:")
print(table.schema)
print("\nNumber of rows:", table.num_rows)
print("\nMetadata:", table.schema.metadata)

# Convert to pandas for easy viewing
# Warning: only do this for a small subset if the table is large
df = table.to_pandas()
print("\nFirst few rows:")
print(df.head())

# Check data types
print("\nData types:")
print(df.dtypes)

# Basic statistics of loss_grads
print("\nLoss grads statistics:")
print(df["loss_grads"].describe())

# Check a single grads vector
print("\nShape of first grads vector:")
print(len(df["grads"].iloc[0]))

Table schema:
uid: string
grads: fixed_size_list<element: halffloat>[2048]
  child 0, element: halffloat
loss_grads: float
loss: float
loss_img: float
loss_txt: float
-- schema metadata --
grads_shape: '2048'

Number of rows: 524288

Metadata: {b'grads_shape': b'2048'}

First few rows:
  uid                                              grads  loss_grads  \
0   0  [0.0006633, 0.000418, -0.00012106, 0.0008593, ...    0.994115
1   1  [0.000958, 0.002813, -0.0004876, 0.0001011, 0....    0.982545
2   2  [0.0007606, 0.002783, -0.000529, -0.001188, 0....    0.962206
3   3  [0.0004773, 0.00248, -0.000326, -0.00010973, 0...    0.969435
4   4  [0.000838, -0.001186, 0.000802, 0.00061, 0.001...    0.958679

        loss  loss_img  loss_txt
0 -11.458261 -5.787405 -5.670856
1 -11.143745 -5.593520 -5.550225
2 -10.938831 -5.502041 -5.436791
3 -10.977598 -5.510442 -5.467156
4 -11.273673 -5.707486 -5.566187

Data types:
uid            object
grads          object
loss_grads    float32
loss          float32
loss_img      float32
loss_txt      float32
dtype: object

Loss grads statistics:
count    524288.000000
mean          0.978799
std           0.019431
min           0.496495
25%           0.974891
50%           0.982408
75%           0.987731
max           0.999714
Name: loss_grads, dtype: float64

Shape of first grads vector:
2048

In [8]:
len(df['uid'].unique())

262144

In [9]:
len(df)

524288

In [5]:
table.sort_by('uid')

pyarrow.Table
uid: string
grads: fixed_size_list<element: halffloat>[2048]
  child 0, element: halffloat
loss_grads: float
loss: float
loss_img: float
loss_txt: float
----
uid: [["000000429e95f36fc2b329378b44d0b9","000001009066d404ab141f667e16fc92","00000114a50b6df0d83e5f5ea6150b59","000001a1e4656479f445c6f746d9e086","0000033ccf8e0d4adb04197564ee7509",...,"fffffa133556acb4cf6716e06ebfef26","fffffb8a2f16ede92fecc4a154f5385a","fffffcbb7a18f6d463be3d892f80dd32","fffffe0b57d5c68f3560fdc5d15b2dfa","ffffff520879ac52efa6537b644a5358"]]
grads: [[[-28071,4929,3078,4050,-29463,...,-29498,-29454,-30099,-31678,-31868],[-32332,-28860,-27014,-27814,-30062,...,1029,-28812,5425,3549,3540],...,[-29500,-30229,-28287,-28783,5712,...,-28990,-28277,-29863,3210,4765],[-28244,4234,-31567,-27618,-30643,...,1074,-27237,-26954,-30195,-27687]]]
loss_grads: [[0.9595937,0.91832274,0.9064108,0.81668764,0.9498466,...,0.9962204,0.9707,0.96890336,0.657428,0.38609403]]
loss: [[-11.228644,-11.104895,-11.051502,-10.918179,-11.156224,...,-11.397434,-11.186692,-11.207815,-10.882977,-10.751272]]
loss_img: [[-5.5817833,-5.529738,-5.5471554,-5.482256,-5.5269256,...,-5.69682,-5.5396633,-5.576441,-5.4770665,-5.3265095]]
loss_txt: [[-5.646861,-5.5751567,-5.5043473,-5.435922,-5.6292987,...,-5.7006145,-5.647029,-5.6313744,-5.4059105,-5.4247622]]

In [3]:
df

,uid,grads,loss_grads,loss,loss_img,loss_txt
0,99e71895357f06965a6c5b00d506e5aa,"[-0.000491, 0.0004125, 0.0001314, 0.000594, 0....",0.513986,-10.607040,-5.336064,-5.270977
1,189c6d448ef1ffaa14770e6de6c6d576,"[0.0007396, -0.000681, -0.000574, 0.0001584, 0...",0.152993,-10.267740,-5.165991,-5.101750
2,d142ae70686e14ccc379c01a571501b5,"[0.000257, -0.0002066, 0.0004866, -0.0001491, ...",0.363049,-10.678188,-5.350779,-5.327410
3,f15adddf4fd5a5919641ce4861306ad9,"[0.0005636, -0.0005608, -9.7e-06, 0.000541, -0...",0.385988,-10.663445,-5.320428,-5.343017
4,f23cba9b57469eeed1321e388f140c71,"[-0.0004783, 4.125e-05, -0.000867, 0.000838, 0...",0.982749,-11.169457,-5.536493,-5.632964
...,...,...,...,...,...,...
287995,60cd7bd25e47fda0f7a699eb552cb8e3,"[0.0003397, 0.0003986, 0.0001607, 0.00037, 8.4...",0.995011,-11.360182,-5.632427,-5.727755
287996,6e84d96045e95b97aea37e06673bee50,"[-0.00074, -0.0001093, 0.001641, -0.0002615, -...",0.511334,-10.748603,-5.418009,-5.330594
287997,092653fcdce89550a58cd7c58981ede1,"[-0.0002747, 0.0005836, -0.0004303, -0.000239,...",0.000199,-9.808785,-4.898189,-4.910597
287998,ef4acf8932ead2d9bc79763b3698cb13,"[0.0001591, 0.0008435, -0.0004258, 0.0002071, ...",0.993784,-11.363912,-5.677474,-5.686438
287999,c5377146e773299324b4e82eadc9b4b6,"[0.000832, -9.423e-05, 0.0004296, -0.000631, 0...",0.920110,-11.146472,-5.532521,-5.613951